
.visa-page{
    background-image: url("C:\Users\icon\OneDrive\Desktop\project react\react-app\src\Component\visa\image.jpg");
width: 100%;
height: 150vh;
}


.visa-col{
    width: 45%;
}

